* {
    box-sizing: border-box;
}


body {
    font-family: 'Fira Code', monospace;
    color: #A9B7C6;
    background-color: #2B2B2B;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.ide-container {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background-color: #282C34;
    border-radius: 0;
    overflow: auto;
}


.icon-code {
    color: #239120;
}
.icon-laravel {
    color: #FF2D20;
}
.icon-react {
    color: #61DAFB;
}
.icon-blazor {
    color: #8b5cf6;
}
.icon {
    vertical-align: middle;
}

.tab {
    display: flex;
    background-color: #1E2127;
    border-bottom: 2px solid #D3AF5C;
}

.tab button {
    font-size: 0.9em;
    padding: 10px 15px;
    background-color: #1E2127;
    color: #828899;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    flex: 1;
    border-bottom: 3px solid transparent;
}

.tab button:hover {
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

.tab button.active {
    color: #D3AF5C;
    border-bottom: 3px solid #D3AF5C;
}

.content {
    position: relative;
    margin-top: 20px;
    padding: 20px;
    color: #A9B7C6;
    background-color: #282C34;
    border: none;
    white-space: pre;
    overflow: auto;
    border-radius: 4px;
    font-size: 1em;
}

.content pre {
    margin: 0;
    font-family: 'Fira Code', monospace;
}




.info-block {
    background-color: #333844;
    margin: 10px 0;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: start;
}
.info-block.laravel {
    border-left: 5px solid #FF2D20;
}
.info-block.react {
    border-left: 5px solid #61DAFB;
}
.info-block.projet {
    border-left: 5px solid #239120;
}
.info-block.blazor {
    border-left: 5px solid #8b5cf6;
}

.info-block h2 {
    color: #FFFFFF;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}
.info-block h3 {
    color: #FFFFFF;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}
.info-block a {
    display: block;
    color: #4db6ac;
    text-decoration: none;
}
.info-block video {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.info-block video:hover {
    opacity: 0.9;
}
.info-block p a {
    display: inline;
}

.info-block p {
    margin: 5px 0;
    color: #A9B7C6;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;

}



.skill-bar {
    display: inline-block;
    width: 55%;
    height: 10px;
    background-color: #555;
    border-radius: 5px;
    margin: 0 10px;
    vertical-align: middle;
}

.skill-level {
    display: block;
    height: 100%;
    border-radius: 5px;
    background-color: #9eac6d;
    transition: width 0.3s ease-in-out;
}


.note {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #A9B7C6;
    background-color: #282C34;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D3AF5C;
    font-size: 0.9em;
    z-index: 5;
    word-wrap: break-word;
    white-space: normal;
}
.info-block .video-container {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 60%;
}
.video-container {
    margin: 0 auto;
    height: 60%;
    width: 60%;
}

.content .info-block:last-child {
    margin-bottom: 50px;
}